/* Copyright Siemens AG 2013
 *
 * Copying and distribution of this file, with or without modification,
 * are permitted in any medium without royalty provided the copyright
 * notice and this notice are preserved.  This file is offered as-is,
 * without any warranty.
 */

body {
    background-color: #FFF;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  margin-bottom: 12px;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

a.link_details:after {
  font-size: 12px;
  font-weight: bold;
  content: "details.." ;
}
a.link_projects:after {
  font-size: 12px;
  font-weight: bold;
  content: "projects.." ;
}

a {
  color: #666666;
  cursor: pointer;
}
a:visited {
  color: #666666;
  cursor: pointer;
}
a:hover {
  color: #990000;
  cursor: pointer;
  text-decoration: none;
}

.gridster .gs_w {
  border-radius: 5px;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
}

.gridster .gs_w.alert {
  background-color: #D00;
  color: #FFF;
}

.gridster .gs_w.warning {
  background-color: #fc6;
  color: #FFF;
}


.status_output {
  text-align: center;
  line-height: normal;
}

div .grid_title {
  /*margin-top: 30px;*/
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  line-height: normal;
}

div .grid_bigtext {
  font-weight: bold;
  font-size: 80px;
  line-height: 90%;
}

div .grid_medtext {
  font-weight: bold;
  font-size: 40px;
  line-height: 90%;
}

div .widget_title {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

div .widget_view_select {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 140px;
  height: 16px;
  padding: 0px 0px;
  font-size: 12px;
  text-align: right;
  line-height: normal;
}

div.title_bar td {
  padding-top:5px;
}

div .title_bar {
  position:relative;
  margin: -8px -8px 0px -8px; 
  top:0px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  height:10%;
}

div .link_bar {
  position:relative;
  top:0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px 5px 5px 5px;
  height:10%;
  width:100%;
}

div.title_bar .control-label {
  margin-bottom:0px;
}

div .content_box {
  position:relative;
  margin-top:8px;
  margin-bottom:8px;
  top:0px;
  height:80%;
  width:100%;
}

div .shiny-plot-output {
  overflow:hidden;
}

