body {
    background-color: #FFF;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  margin-bottom: 12px;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

a {
  color: #666666;
  cursor: pointer;
}
a:visited {
  color: #666666;
  cursor: pointer;
}
a:hover {
  color: #990000;
  cursor: pointer;
  text-decoration: none;
}

.gridster .gs_w {
  border-radius: 5px;
}

.gridster .gs_w.alert {
  background-color: #D00;
  color: #FFF;
}

.gridster .gs_w.warning {
  background-color: #fc6;
  color: #FFF;
}


.status_output {
  text-align: center;
  line-height: normal;
}

div .grid_title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  line-height: normal;
}

div .grid_bigtext {
  font-weight: bold;
  font-size: 80px;
  line-height: 90%;
}

div .grid_medtext {
  font-weight: bold;
  font-size: 40px;
  line-height: 90%;
}

div .widget_title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  line-height: normal;
}

div .widget_view_select {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 140px;
  height: 16px;
  padding: 0px 0px;
  font-size: 12px;
  text-align: right;
  line-height: normal;
}

div .title_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:98; /* must be less than the delete button */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}
