*~
*.pyc
*.pdf
*.eps
*.log
*.aux
*.ps
*.orig
*.rej
*.save
*.db
*.rda
*.Rout
*.diff
.vagrant/
*/#*
.Rhistory
.RData
.DS_Store
*.tar.bz2
error.dump.rda
node-*
codeface.egg-info/
log/
auto/
db/
rep/
res/
testdat/
performance/results/
*.tar.gz
.idea/
id_service/node_modules/
*.Rproj
.Rproj.user/
build/
dist/
vendor/
.coverage
/.project
/.pydevproject
