*~
*.pyc
*.pdf
*.eps
*.log
*.aux
*.ps
*.orig
*.rej
*.save
*.db
*.rda
*.Rout
auto/
db/
rep/
res/
testdat/
.Rhistory
.DS_Store
cluster/.Rhistory
cluster/.DS_Store
cluster/.RData
*.tar.bz2
cluster/res/
error.dump.rda
