structure(list(widgets = list(structure(list(col = 1, row = 1, 
    size_x = 1, size_y = 1, id = "widget8", cls = "widget.overview.construction"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 1, size_y = 1, id = "widget5", cls = "widget.release.distance"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 2, size_y = 1, id = "widget1", cls = "widget.commit.info.splom"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 1, size_x = 1, size_y = 1, id = "widget2", cls = "widget.commit.doc"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 2, size_x = 1, size_y = 1, id = "widget3", cls = "widget.gauge.commits"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
