structure(list(widgets = list(structure(list(col = 2, row = 1, 
    size_x = 2, size_y = 1, id = "widget3", cls = "widget.clusters.clusters"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 1, size_y = 1, id = "widget8", cls = "widget.contributors.commits"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 2, size_x = 2, size_y = 1, id = "widget9", cls = "widget.contributions.overview"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 1, size_x = 1, size_y = 1, id = "widget6", cls = "widget.overview.collaboration"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
