structure(list(widgets = list(structure(list(col = 1, row = 1, 
    size_x = 2, size_y = 1, id = "widget9", cls = "widget.commit.info.splom"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 1, size_y = 1, id = "widget5", cls = "widget.commit.info.corrgram"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 2, size_y = 1, id = "widget3", cls = "widget.contributions.overview"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 2, size_x = 1, size_y = 1, id = "widget10", cls = "widget.contributions.multiCycles"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
