structure(list(widgets = list(structure(list(col = 3, row = 2, 
    size_x = 1, size_y = 1, id = "widget9", cls = "widget.gauge.commits.per.cycle"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 1, size_y = 1, id = "widget6", cls = "widget.gauge.commitspeed"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 1, size_y = 1, id = "widget5", cls = "widget.gauge.current.cycle"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 1, size_x = 1, size_y = 1, id = "widget2", cls = "widget.gauge.commits"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
