structure(list(widgets = list(structure(list(col = 1, row = 1, 
    size_x = 1, size_y = 1, id = "widget11", cls = "widget.overview.project"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 2, size_x = 1, size_y = 1, id = "widget6", cls = "widget.overview.collaboration"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 1, size_x = 1, size_y = 1, id = "widget7", cls = "widget.overview.communication"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 2, size_x = 1, size_y = 1, id = "widget9", cls = "widget.overview.complexity"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 1, size_y = 1, id = "widget1", cls = "widget.general.info.overview"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 1, size_y = 1, id = "widget4", cls = "widget.overview.construction"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
