structure(list(widgets = list(structure(list(col = 1, row = 1, 
    size_x = 1, size_y = 1, id = "widget4", cls = "widget.general.info.overview"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 1, size_x = 1, size_y = 1, id = "widget1", cls = "widget.contributions.multiCycles"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 2, size_y = 1, id = "widget8", cls = "widget.contributors.pagerank"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 1, size_y = 1, id = "widget12", cls = "widget.gauge.commits"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 2, size_x = 1, size_y = 1, id = "widget7", cls = "widget.contributions.multiCycles"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 2, size_x = 2, size_y = 1, id = "widget10", cls = "widget.timeseries.plots"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
