structure(list(widgets = list(structure(list(col = 1, row = 1, 
    size_x = 2, size_y = 1, id = "widget2"), .Names = c("col", 
"row", "size_x", "size_y", "id")), structure(list(col = 2, row = 2, 
    size_x = 2, size_y = 1, id = "widget8"), .Names = c("col", 
"row", "size_x", "size_y", "id")), structure(list(col = 1, row = 2, 
    size_x = 1, size_y = 1, id = "widget11"), .Names = c("col", 
"row", "size_x", "size_y", "id"))), content = structure(list(
    widget2 = "widget.commit.info.splom", widget8 = "widget.timeseries.plots", 
    widget11 = "widget.contributions.multiCycles"), .Names = c("widget2", 
"widget8", "widget11"))), .Names = c("widgets", "content"))
