structure(list(widgets = list(structure(list(col = 2, row = 1, 
    size_x = 2, size_y = 1, id = "widget3", cls = "widget.timeseries.messages.per.day"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 1, size_x = 1, size_y = 1, id = "widget2", cls = "widget.overview.communication"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
