/**
*
*
*/

/**
* body, html {background:#fff; font-family:Arial!important}
*/
iframe[seamless-style]{
	background-color: transparent;
	border: 0 none transparent;
	padding: 0;
	overflow: hidden;
	width:100%
}
	
	