structure(list(widgets = list(structure(list(col = 2, row = 1, 
    size_x = 1, size_y = 1, id = "widget6", cls = "widget.overview.complexity"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 1, size_x = 2, size_y = 1, id = "widget3", cls = "widget.timeseries.plots"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 3, 
    row = 2, size_x = 2, size_y = 1, id = "widget5", cls = "widget.complexity.loc.per.author.weighted"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 2, 
    row = 2, size_x = 1, size_y = 1, id = "widget7", cls = "widget.contributions.authorsPerCycle"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 1, size_x = 1, size_y = 1, id = "widget1", cls = "widget.complexity.loc"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")), structure(list(col = 1, 
    row = 2, size_x = 1, size_y = 1, id = "widget10", cls = "widget.complexity.loc.per.author.summary"), .Names = c("col", 
"row", "size_x", "size_y", "id", "cls")))), .Names = "widgets")
